body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header.center{
  text-align: center;
}

img.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.center a {
  align-content: center;
  background: green; 
  padding: 0 10px 0;
}

#fig {
  text-align: center;
}

#details {
  display: block;
  background: red;
  text-align: center;
}

div {
  background: red;
  text-align: center;
  width: 25%;
  float: left;
}